name: Docker Image Builder
on:
  #push:
    #branches:    
      #- main

  workflow_dispatch:

jobs:
  Docker_Image_Builder:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          #username: ${{ secrets.DOCKER_USERNAME }}
          #password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          #tags: ${{ secrets.DOCKERHUB_USERNAME }}/217gd:5.2.2
          #tags: qnistar/217gd:5.2.2
          #tags: qnistar/217gd:5.1.1_ubuntu-22.04-v4.7.1
          #tags: qnistar/217gd:5.1.1
          #tags: qnistar/217gd:5.3.1
          #tags: qnistar/217gd:5.7.1
          #tags: qnistar/217gd:6.1.2
          #tags: qnistar/217gd:xvfb_6.1.2
          #tags: qnistar/217gd:scrot_5.1.1
          tags: qnistar/217gd:scrot_6.1.2
          # =========================================================================================================
          
          platforms: |
            linux/amd64
          
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 30
          keep_minimum_runs: 4
